body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #F0F0F0;
  overflow-x: hidden!important;
}
a {
  color: #01b153;
}
a:hover {
  color: #0e914b;
  text-decoration: none;
}

/* Overwrite Bootstrap CSS */
.btn-lg, .btn-group-lg > .btn {
  font-size: 1rem;
  border-radius: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #0e914b;
  border-color: #187945;
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0fac58 !important;
  border-color: #0e914b !important;
}
